In [1]:
import numpy as np
import pandas as pd
import matplotlib

import matplotlib.pyplot as plt
%matplotlib inline
import os
import warnings
import seaborn as sns
import plotly.graph_objs as go
import plotly.figure_factory as ff
import plotly.express as px

from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

# I. Load the data from CSV and Excel source and clean the data

In [2]:
HistoryVnindex = pd.read_csv('Du lieu Lich su VN Index - vn.investing.csv')
CustomerTrade = pd.read_excel('Giao dich KH theo tuan_unpivot.xlsx')
MarketLiquidity = pd.read_excel('Thanh khoan thi truong theo tuan.xlsx')

In [3]:
HistoryVnindex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ngày          52 non-null     object
 1   Lần cuối      52 non-null     object
 2   Mở            52 non-null     object
 3   Cao           52 non-null     object
 4   Thấp          52 non-null     object
 5   KL            51 non-null     object
 6   % Thay đổi    52 non-null     object
 7   Week_Of_Year  52 non-null     int64
 8   Year          52 non-null     int64
dtypes: int64(2), object(7)
memory usage: 3.8+ KB

In [4]:
HistoryVnindex.head()

,Ngày,Lần cuối,Mở,Cao,Thấp,KL,% Thay đổi,Week_Of_Year,Year
0,7/9/2023,"1,154.96","1,138.07","1,157.01","1,138.07",NaN,1.48%,27,2023
1,7/2/2023,"1,138.07","1,120.18","1,138.67","1,120.18",3.79M,1.60%,26,2023
2,6/25/2023,"1,120.18","1,129.38","1,140.56","1,119.95",4.18M,-0.81%,25,2023
3,6/18/2023,"1,129.38","1,115.22","1,130.61","1,102.58",4.21M,1.27%,24,2023
4,6/11/2023,"1,115.22","1,110.26","1,129.49","1,100.08",4.55M,0.69%,23,2023

In [5]:
# Convert Lần cuối column to int
HistoryVnindex['Lần cuối'] = HistoryVnindex['Lần cuối'].str[:-3].replace(",","", regex=True)

In [6]:
HistoryVnindex['Lần cuối'] = HistoryVnindex['Lần cuối'].astype(int)

In [7]:
HistoryVnindex.head()

,Ngày,Lần cuối,Mở,Cao,Thấp,KL,% Thay đổi,Week_Of_Year,Year
0,7/9/2023,1154,"1,138.07","1,157.01","1,138.07",NaN,1.48%,27,2023
1,7/2/2023,1138,"1,120.18","1,138.67","1,120.18",3.79M,1.60%,26,2023
2,6/25/2023,1120,"1,129.38","1,140.56","1,119.95",4.18M,-0.81%,25,2023
3,6/18/2023,1129,"1,115.22","1,130.61","1,102.58",4.21M,1.27%,24,2023
4,6/11/2023,1115,"1,110.26","1,129.49","1,100.08",4.55M,0.69%,23,2023

In [8]:
CustomerTrade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64333 entries, 0 to 64332
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CUSTOMER_CODE  64333 non-null  object
 1   Year           64333 non-null  int64
 2   Week           64333 non-null  int64
 3   Trading Value  64333 non-null  int64
dtypes: int64(3), object(1)
memory usage: 2.0+ MB

In [9]:
CustomerTrade.head()

                    CUSTOMER_CODE  Year  Week  Trading Value
0  0000849A4AC50539FF4E7DD52F5DB8  2022    29       11295000
1  0000849A4AC50539FF4E7DD52F5DB8  2022    32        7400000
2  0000849A4AC50539FF4E7DD52F5DB8  2022    33       23235000
3  0000849A4AC50539FF4E7DD52F5DB8  2022    34       25300000
4  0000849A4AC50539FF4E7DD52F5DB8  2022    35       30330000

In [10]:
MarketLiquidity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        237 non-null    int64
 1   Week_of_year_               237 non-null    int64
 2   Total Market Trading Value  237 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 5.7 KB

In [11]:
MarketLiquidity.head()

   Year  Week_of_year_  Total Market Trading Value
0  2019              1                48777.911624
1  2019              2                77982.790774
2  2019              3                61357.948072
3  2019              4                76849.913162
4  2019              5                64610.582993

In [12]:
MarketLiquidity = MarketLiquidity.dropna(subset=['Week_of_year_'])

In [13]:
MarketLiquidity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        237 non-null    int64
 1   Week_of_year_               237 non-null    int64
 2   Total Market Trading Value  237 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 5.7 KB

In [14]:
MarketLiquidity['Week_of_year_'] = MarketLiquidity['Week_of_year_'].astype('int')

In [15]:
MarketLiquidity['Total Market Trading Value'] = MarketLiquidity['Total Market Trading Value'].astype('int')

In [16]:
MarketLiquidity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        237 non-null    int64
 1   Week_of_year_               237 non-null    int32
 2   Total Market Trading Value  237 non-null    int32
dtypes: int32(2), int64(1)
memory usage: 3.8 KB

# II. Merge the VN Index data and Market Liquidity data with Customer trading data

In [17]:
HistoryVnindex = HistoryVnindex.rename(columns={'Lần cuối':'VnIndex'})

In [18]:
HistoryVnindex.columns

Index(['Ngày', 'VnIndex', 'Mở', 'Cao', 'Thấp', 'KL', '% Thay đổi',
       'Week_Of_Year', 'Year'],
      dtype='object')

In [19]:
CustomerTrade = CustomerTrade.merge(HistoryVnindex[['Year','Week_Of_Year','VnIndex']], how='left', left_on=['Year','Week'], right_on=['Year','Week_Of_Year'])

In [20]:
MarketLiquidity = MarketLiquidity.rename(columns={'Total Market Trading Value':'MarketLiquidity'})

In [21]:
CustomerTrade = CustomerTrade.merge(MarketLiquidity[['Year','Week_of_year_','MarketLiquidity']], how='left', left_on=['Year','Week'], right_on=['Year','Week_of_year_'])

In [22]:
CustomerTrade.head()

,CUSTOMER_CODE,Year,Week,Trading Value,Week_Of_Year,VnIndex,Week_of_year_,MarketLiquidity
0,0000849A4AC50539FF4E7DD52F5DB8,2022,29,11295000,29.0,1206.0,29,245844
1,0000849A4AC50539FF4E7DD52F5DB8,2022,32,7400000,32.0,1269.0,32,236542
2,0000849A4AC50539FF4E7DD52F5DB8,2022,33,23235000,33.0,1282.0,33,212027
3,0000849A4AC50539FF4E7DD52F5DB8,2022,34,25300000,34.0,1280.0,34,231931
4,0000849A4AC50539FF4E7DD52F5DB8,2022,35,30330000,35.0,1248.0,35,227572

In [23]:
CustomerTrade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64333 entries, 0 to 64332
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CUSTOMER_CODE    64333 non-null  object
 1   Year             64333 non-null  int64
 2   Week             64333 non-null  int64
 3   Trading Value    64333 non-null  int64
 4   Week_Of_Year     62042 non-null  float64
 5   VnIndex          62042 non-null  float64
 6   Week_of_year_    64333 non-null  int32
 7   MarketLiquidity  64333 non-null  int32
dtypes: float64(2), int32(2), int64(3), object(1)
memory usage: 3.9+ MB

In [24]:
CustomerTrade=CustomerTrade.drop(['Week_Of_Year','Week_of_year_'],axis=1)

In [25]:
CustomerTrade[CustomerTrade['VnIndex'].isna()]

,CUSTOMER_CODE,Year,Week,Trading Value,VnIndex,MarketLiquidity
15,0000849A4AC50539FF4E7DD52F5DB8,2022,53,16590000,NaN,254250
51,0020100DBC05FEB6E5FAAE2D0FF6C5,2022,52,27510000,NaN,281152
52,0020100DBC05FEB6E5FAAE2D0FF6C5,2022,53,89480000,NaN,254250
83,00204F41ACE29E468D3EB67C30C1B0,2022,52,22880000,NaN,281152
106,0028BEAFBD0E1D6CF7DBEF9A31180C,2022,52,1630000,NaN,281152
...,...,...,...,...,...,...
64258,DC89FBA28BE18A26773113F24A6E76,2022,52,5400000,NaN,281152
64277,DCB66CA7959A8333B2E5B5EFF23B26,2022,53,29600000,NaN,254250
64298,DCC0F6F31BFA290E5EDB835E943281,2022,53,9825000,NaN,254250
64312,DCCBD082060810E845EB12E423B36F,2022,52,1050000,NaN,281152
64313,DCCBD082060810E845EB12E423B36F,2022,53,4500000,NaN,254250

In [26]:
CustomerTrade = CustomerTrade.dropna(subset=['VnIndex'])

In [27]:
CustomerTrade['VnIndex'] = CustomerTrade['VnIndex'].astype(int)

In [28]:
CustomerTrade.head()

,CUSTOMER_CODE,Year,Week,Trading Value,VnIndex,MarketLiquidity
0,0000849A4AC50539FF4E7DD52F5DB8,2022,29,11295000,1206,245844
1,0000849A4AC50539FF4E7DD52F5DB8,2022,32,7400000,1269,236542
2,0000849A4AC50539FF4E7DD52F5DB8,2022,33,23235000,1282,212027
3,0000849A4AC50539FF4E7DD52F5DB8,2022,34,25300000,1280,231931
4,0000849A4AC50539FF4E7DD52F5DB8,2022,35,30330000,1248,227572

# III. Calculate the correlation of trading value for each customer with the VnIndex and Market Liquidity

In [29]:
CustomerTradeVnIndex = CustomerTrade.groupby('CUSTOMER_CODE')[['Trading Value','VnIndex']].corr().unstack().iloc[:,1]
CustomerTradeVnIndex = CustomerTradeVnIndex.reset_index()
CustomerTradeVnIndex.columns = ['_'.join(col) for col in CustomerTradeVnIndex.columns.values]
CustomerTradeVnIndex.head()

                   CUSTOMER_CODE_  Trading Value_VnIndex
0  0000849A4AC50539FF4E7DD52F5DB8              -0.040841
1  0006D7DF04FD96B5C31BFFA4B35FBB              -0.079166
2  000C1B2007AD279329DAD772CE58E9              -0.077117
3  0020100DBC05FEB6E5FAAE2D0FF6C5               0.274760
4  00204F41ACE29E468D3EB67C30C1B0               0.604953

In [30]:
CustomerTradeLiquidity = CustomerTrade.groupby('CUSTOMER_CODE')[['Trading Value','MarketLiquidity']].corr().unstack().iloc[:,1]
CustomerTradeLiquidity = CustomerTradeLiquidity.reset_index()
CustomerTradeLiquidity.columns = ['_'.join(col) for col in CustomerTradeLiquidity.columns.values]
CustomerTradeLiquidity.head()

                   CUSTOMER_CODE_  Trading Value_MarketLiquidity
0  0000849A4AC50539FF4E7DD52F5DB8                       0.319253
1  0006D7DF04FD96B5C31BFFA4B35FBB                      -0.997041
2  000C1B2007AD279329DAD772CE58E9                      -0.351964
3  0020100DBC05FEB6E5FAAE2D0FF6C5                      -0.190936
4  00204F41ACE29E468D3EB67C30C1B0                       0.111265

In [31]:
CustomerTrade = CustomerTrade.merge(CustomerTradeVnIndex, how='left', left_on='CUSTOMER_CODE', right_on='CUSTOMER_CODE_')

In [32]:
CustomerTrade = CustomerTrade.merge(CustomerTradeLiquidity, how='left', left_on='CUSTOMER_CODE', right_on='CUSTOMER_CODE_')

In [33]:
CustomerTrade.head()

,CUSTOMER_CODE,Year,Week,Trading Value,VnIndex,MarketLiquidity,CUSTOMER_CODE__x,Trading Value_VnIndex,CUSTOMER_CODE__y,Trading Value_MarketLiquidity
0,0000849A4AC50539FF4E7DD52F5DB8,2022,29,11295000,1206,245844,0000849A4AC50539FF4E7DD52F5DB8,-0.040841,0000849A4AC50539FF4E7DD52F5DB8,0.319253
1,0000849A4AC50539FF4E7DD52F5DB8,2022,32,7400000,1269,236542,0000849A4AC50539FF4E7DD52F5DB8,-0.040841,0000849A4AC50539FF4E7DD52F5DB8,0.319253
2,0000849A4AC50539FF4E7DD52F5DB8,2022,33,23235000,1282,212027,0000849A4AC50539FF4E7DD52F5DB8,-0.040841,0000849A4AC50539FF4E7DD52F5DB8,0.319253
3,0000849A4AC50539FF4E7DD52F5DB8,2022,34,25300000,1280,231931,0000849A4AC50539FF4E7DD52F5DB8,-0.040841,0000849A4AC50539FF4E7DD52F5DB8,0.319253
4,0000849A4AC50539FF4E7DD52F5DB8,2022,35,30330000,1248,227572,0000849A4AC50539FF4E7DD52F5DB8,-0.040841,0000849A4AC50539FF4E7DD52F5DB8,0.319253

In [34]:
CustomerTrade = CustomerTrade.drop(['CUSTOMER_CODE__x','CUSTOMER_CODE__y'], axis=1)

In [35]:
CustomerMarketCorrelation = CustomerTradeLiquidity.merge(CustomerTradeVnIndex, how='left', left_on='CUSTOMER_CODE_', right_on='CUSTOMER_CODE_')

In [36]:
CustomerTrade.head()

,CUSTOMER_CODE,Year,Week,Trading Value,VnIndex,MarketLiquidity,Trading Value_VnIndex,Trading Value_MarketLiquidity
0,0000849A4AC50539FF4E7DD52F5DB8,2022,29,11295000,1206,245844,-0.040841,0.319253
1,0000849A4AC50539FF4E7DD52F5DB8,2022,32,7400000,1269,236542,-0.040841,0.319253
2,0000849A4AC50539FF4E7DD52F5DB8,2022,33,23235000,1282,212027,-0.040841,0.319253
3,0000849A4AC50539FF4E7DD52F5DB8,2022,34,25300000,1280,231931,-0.040841,0.319253
4,0000849A4AC50539FF4E7DD52F5DB8,2022,35,30330000,1248,227572,-0.040841,0.319253

In [37]:
CustomerMarketCorrelation.head()

,CUSTOMER_CODE_,Trading Value_MarketLiquidity,Trading Value_VnIndex
0,0000849A4AC50539FF4E7DD52F5DB8,0.319253,-0.040841
1,0006D7DF04FD96B5C31BFFA4B35FBB,-0.997041,-0.079166
2,000C1B2007AD279329DAD772CE58E9,-0.351964,-0.077117
3,0020100DBC05FEB6E5FAAE2D0FF6C5,-0.190936,0.274760
4,00204F41ACE29E468D3EB67C30C1B0,0.111265,0.604953

In [38]:
CustomerTrade.to_csv('CustomerTrade.csv')

In [39]:
CustomerMarketCorrelation.to_csv('CustomerMarketCorrelation.csv')